body {
    background-color: #f1f1f1;
}
.head {

}
.office{
    width: 300px;
  border-radius: 10%;
  box-shadow: 5px 5px 15px rgba(0,0,0,2);
}
.officehead {
color: #985555;
text-decoration: underline;
font-style: italic;
max-width: 750px;
margin: auto;
margin-bottom: 20px;
border: none;
}
.contener {
    background-color: rgb(216, 216, 123);
    color: rgb(26, 41, 41);
    max-width: 750px;
    margin: auto;
}
/*.service {
    padding: 15px;
    border: 10px solid red;
    margin: 20px;
    border-style: double;
}*/
/*Работа с ссылками*/
a{
    color: black;
    text-decoration: none;
}
a:hover {
text-decoration: underline;
color: blue;
}
.card{
    background-color: aqua;
    padding: 15px 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,2);
}
.img{
    box-shadow: 5px 5px 15px rgba(0,0,0,2);
}
.list{

}
.link-list{
list-style: square;
}
.name label {
display: block;
font-size: 14px;
color: rgb(135, 133, 133);
margin-bottom: 5px;
margin-top: 10px;
}
.password label {
    display: block;
    font-size: 14px;
    color: rgb(135, 133, 133);   
    margin-bottom: 5px;
    margin-top: 10px;
}
.Login{
    border: none;
    background: transparent;
}
.password{
    border: none;
    background: transparent;
    margin-bottom: 15px;
}